.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.register-form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  width: 45%;
  color: white;
}

input {
  width: 50%;
  padding: 5px;
  color: black;
}

button.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button.register-btn:hover {
  background-color: #0056b3;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; /* Adjust the width as needed */
  height: auto;
}
