<!DOCTYPE html>
<html lang="en">
<head>
  <link href="css/RegisterPage.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div className="container">
  <img href="Images/Netflix.png" className="logo" alt="logo" />
    <form className="register-form">
      <div className="input-group">
        <label htmlFor="username">Username:</label>
        <input type="text" id="username" placeholder="Enter your username" />
      </div>
      <div className="input-group">
        <label htmlFor="email">Email Address:</label>
        <input type="email" id="email" placeholder="Enter your email address" />
      </div>
      <div className="input-group">
        <label htmlFor="confirmEmail">Confirm Email Address:</label>
        <input type="email" id="confirmEmail" placeholder="Confirm your email address" />
      </div>
      <div className="input-group">
        <label htmlFor="password">Password:</label>
        <input type="password" id="password" placeholder="Enter your password" />
      </div>
      <div className="input-group">
        <label htmlFor="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" placeholder="Confirm your password" />
      </div>
      <button className="register-btn">Register</button>
    </form>
  </div>
</body>