.profile-selection-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 970px;
  }
  
  .profiles-container {
    display: flex;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 100px;
    height: 75px;
  }
  
  .profile img {
    width: 100px; 
    height: 100px; 
    margin-bottom: 5px;
  }
  
  .profile.add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    cursor: pointer;
  }
  
  .profile.add-new span:first-child {
    font-size: 3rem;
  }
  
  .manage-profiles {
    margin-top: 30px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: #ccc;
    background-color: black;
    border: 1px solid #ccc;
  }

  .profile-title{
    color: white;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .plus{
    color: white;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-inner {
    background-color: black;
    padding: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
  }

  .profile-button{
    margin-top: 30px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    color: #ccc;
    background-color: black;
    border: 1px solid #ccc;
  }
  
.buttons{
  display: inline-flex;
  justify-content: space-between;
}

.profile-name{
  color: white;
}

.profile-name{
  width: 200px;
  height: 50px;
}

.input-error {
  color: red;
  margin-top: 5px;
}

.profile-button-submit{
  margin-top: 30px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  color: #ccc;
  background-color: black;
  border: 1px solid #ccc;
  margin-right: 200px;
}

.profile-button-cancel{
  margin-top: 30px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  color: #ccc;
  background-color: black;
  border: 1px solid #ccc;
}

.radio-profile-kid{
  color: white;
  margin-left: 7px;
  margin-right: 20px;
}

.radio-profile-adult{
  color: white;
  margin-top: 30px;
}

.input-checkbox{
  margin-top: 20px;
}

#profileName{
  height: 25px;
  width: 200px;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.input-error-fade {
  animation: fadeOut 1s forwards;
}
