.profile-selection-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 970px;
  }
  
  .profiles-container {
    display: flex;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 100px;
    height: 75px;
  }
  
  .profile img {
    width: 100px; 
    height: 100px; 
    margin-bottom: 5px;
  }
  
  .profile.add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    cursor: pointer;
  }
  
  .profile.add-new span:first-child {
    font-size: 3rem;
  }
  
  .manage-profiles {
    margin-top: 30px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: #ccc;
    background-color: black;
    border: 1px solid #ccc;
  }

  .profile-title{
    color: white;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .plus{
    color: white;
  }
  